# Collection (Arrays)

Common collections widely used in Python are

1. List - is ordered and changeable (mutable). Allows duplicate members.
2. Tuple - is ordered and unchangeable (immutable). Allows duplicate members.
3. Dict - is unordered and changeable (mutable). No duplicate members.
4. Set - is unordered, unchangeable (immutable), and unindexed. No duplicate members.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
type([1,2,3,4,5])

In [ ]:
type((1,2,3,4))

In [ ]:
type({'milk tea':40, 'coffee':50})

In [ ]:
type({1,2,3})

In [ ]:
t = (1,2,3,4,1,2)
s = {1,2,3,4,1,2}
d = {'milk tea':40, 'coffee':50, 'milk tea':30}
print(t)
print(s)
print(d)

# Welcome to the first collection data type that you often use in daily life!

When we go to a Thai restaurant, we often order many dishes e.g. chicken with basils, fried fish, tofu and minced pork soup and rice.
We can use four different string variables to keep these data:

```python
menu_1 = 'chicken with basils'
menu_2 = 'fried fish'
menu_3 = 'tofu and minced pork soup'
menu_4 = 'rice'
```

However, we can use only a single collection variable instead:
```python
menu = ['chicken with basils','fried fish','tofu and minced pork soup','rice']
```
Now, all the dishes are stored in a single list varaible, `menu`

# List

* List is an object that can store a sequece of items (sometimes called elements interchangeably)
* A list is defined using a pair of brackets '[ ]' with elements inside, separated by commas ' , '.
* A list can hold different types of items. [1, 'a', "comp prog", [True, False], 2.56]
* Lists are mutable, which means that items in the list can be changed.
*   '[ ]' an empty list

In [ ]:
# Ex.

# A list of strings
menu = ['chicken with basils','fried fish','tofu and minced pork soup','rice']
print(menu)

# In this example, a list contains string, integer, float, boolean, and list.
list1 = ['chicken with basils', 2, 450.50, False, ['', 'sweet potatos', 3]]
print(list1)

# When no element resides in the brackets, it is called an empty list.
list2 = []
print(list2)

### List size

* The size of a list is the number of items in the list.
* `len(<aList>)` is a built-in function in Python that returns the length of a sequence --> size of a list.

In [ ]:
len(menu)

In [ ]:
len(['chicken with basils', 2, 450.50, False, ['', 'sweet potatos', 3]])

In [ ]:
len([])

## How data stored in a list

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

Here shows how the items in `data` are stored:
<img src="https://github.com/ploy-np/python/blob/master/images/list/data.jpg?raw=1" width="700"/>

In [ ]:
drink = 'pimm\'s'
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]
print(order)

Here shows how the items in `order` are stored:
<img src="https://github.com/ploy-np/python/blob/master/images/list/order1.jpg?raw=1" width="800"/>

In [ ]:
drink = 'long-island'
print('drink -->', drink)
print('order[1] -->', order[1])

Here shows how the items in `order` are stored after the variable `drink` was modified:
<img src="https://github.com/ploy-np/python/blob/master/images/list/order2.jpg?raw=1" width="700"/>

In [ ]:
desserts = ['pancake',3]
print('desserts -->', desserts)
print('order[3] -->', order[3])

Here shows how the items in `order` are stored after the variable `desserts` was modified:
<img src="https://github.com/ploy-np/python/blob/master/images/list/order3.jpg?raw=1" width="700"/>

*   Every element within the List represents a variable that holds significant value when separated from binding.
*   Consequently, associating values with List elements through configuration establishes a link between the List elements and the new value, without altering the original value.

## Indexing

* We can access to each element in the list individually by specifying an index inside the brackets.
* The indexes are 0 (the first item), 1, ..., n-1 (the last item).
* The negative indexes are -1 (the last item), -2, -3, ..., -n (the first item).
* No matter positive or negative indexes you use, it cannot be out of those ranges.

In [11]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [ ]:
data[0]

In [ ]:
type(data[0])

In [ ]:
data[1]

In [ ]:
type(data[1])

In [ ]:
data[2]

In [ ]:
type(data[2])

In [ ]:
data[3]

In [ ]:
type(data[3])

In [ ]:
data[4]

In [ ]:
type(data[4])

In [ ]:
data[5]

In [ ]:
data[-1]

In [ ]:
data[-2]

In [ ]:
data[-3]

In [ ]:
data[-4]

In [ ]:
data[-5]

In [ ]:
data[-6]

## Slicing

* We can access multiple elements in the list by using index slicing.

```python
<aList>[<start>:<end>:<step>]
```

* We can mix between positive and negative indexes for data accession as appropriate.
*   Define a range start from the first index -->  leave 'start' blank.
*   Define a range up to the last index --> leave 'end' blank.

In [14]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [15]:
data[:]

['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]

In [ ]:
data[2:]

In [ ]:
data[1:3]

In [ ]:
data[:-1]

**Ex1:** Let `numbers = [1, 2, 3, 4, 5, 6]`. Write a command using list slicing to extract the values below.

* [2, 3, 4]
* [1, 3, 5]
* [2, 4, 6]
* [1, 4]
* [5, 3, 1]
* [4, 3, 2]

In [16]:
# Code here
numbers = [1, 2, 3, 4, 5, 6]
numbers[1:4]
numbers[:5:2]
numbers[1:6:2]
numbers[::3]
numbers[-2::-2]
numbers[-3:0:-1]

[4, 3, 2]

## Iterating over a list using `for`

There are two ways to do this.

**Method 1**: To iterate each item in the list.

```python
for <variable> in <aList>:
  <do something>
```

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
for item in data:
  print(item)

**Q**: Run the code below, what have you noticed from this?

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
for item in data:
  item = 'unknown'
  print(item)
print(data)

**Ex2:** Write a program that receives a list of numbers from the user and print out the average (using *Method 1* to iterate over the list).

**Method 2**: To iterate the *index* of each item in the list.

```python
for <indexVariable> in range(len(<aList>)):
  <do something>
```

In [ ]:
for i in range(len(data)):
  print(data[i])

**Ex3:** Write a program that receives a list of numbers from the user and print out the average (using *Method 2* to iterate over the list).

In [ ]:
# Code here

## List modification

This can be done using the list accession with an assignment operator.

```python
<aList>[<index>] = <value>
```

In [ ]:
drink = 'pimm\'s'
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]
print(order)

In [ ]:
# This will replace the second item in the list (order) with the value on the right side of the assignment operator (=).
order[1] = 'long-island'
desserts[0] = 'Mango sticky rice'
print(order)

**Q:** What is the results of the program below.

In [20]:
numbers = [2,4,6,8]
numbers[2] = numbers[0]*2
numbers[-1] = numbers[-1]/2
print(numbers)

[2, 4, 4, 4.0]

## Basic operations for List



You can find more details about the methods of list objects [here](https://docs.python.org/3/tutorial/datastructures.html).

### `append`: Adds an item in the end of the list.

```python
<aList>.append(<itemToAppend>)
```

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
data.append('americano')
print(data)
data.append([0, 1])
print(data)

### `insert`: Inserts an item at a given position.

```python
<aList>.insert(<indexToInsert>, <itemToInsert>)
```

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
data.insert(2,'americano')
print(data)

### `index`: Finds the position (index) of a given value in the list. --> return the first position


```python
<aList>.index(<aValue>)
```

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [ ]:
print(data.index(False))

In [ ]:
print(data.index(True))

### `del`: Deletes an item from the list using indexing.

``` python
del <aList>[<indexOfItemToDelete>]
```

In [21]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [22]:
del data[4]
print(data)

['chicken with basils', 2, 450.5, False]

In [24]:
del data[:-2]
print(data)

[450.5, False]

In [ ]:
drink = 'pimm\'s'
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]

del drink
print(order)
del order[1]
print(order)

In [ ]:
drink = 'pimm\'s'
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]

del desserts[1]
print(order)

In [ ]:
order.pop(1)
print(order)

pop() Removes the element at the specified position

### `remove`: Remove a given value from the list (the first one found).

```python
<aList>.remove(<aValueInTheList>)
```

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
data.remove(False)
print(data)

### `min`: Finds the minimum value in the list.

```python
min(<aList>)
```

In [ ]:
nums = [8,7,9,12,3]
words = ['squid game','hometown cha cha','titanic']
texts = ['sssssss', 'ttt', 'z']

In [ ]:
print(min(nums))
print(min(words))
print(min(texts))

### `max`: Finds the maximum value in the list.

```python
max(<aList>)
```

In [ ]:
print(max(nums))
print(max(words))
print(max(texts))

### `sum`: Calculate the summation of all values in the list (only number).

```python
sum(<aList>)
```

In [ ]:
sum(nums)

In [ ]:
sum(words)

### `sort`: Sorts all the items in the list (the same variable types).

```python
# Ascending order
sort()

# Descending order
sort(reverse=True)   
```

* Note that `sort` is a void function.

In [ ]:
x = [8,7.5,9,12.4,3]
y = ['1','Com','123','a','A',]
z = [1, 3.3, 'a', 'A']

In [ ]:
x.sort()
y.sort()
print(x)
print(y)

In [ ]:
z.sort()

In [ ]:
print(x.sort())

In [ ]:
x.sort(reverse=True)
print(x)

In [ ]:
x.reverse()
print(x)

### List concatenation using `+`  (Combine two lists).

In [ ]:
a = [1,2]
b = [2,3]
a = a + b
# a.extend(b)
print(a)

In [ ]:
a = [1,2]
b = [2,3]
a.extend(b)
print(a)

extend() Add the elements of a list (or any iterable), to the end of the current list

https://pythontutor.com/visualize.html#mode=edit

### List repetition using `*` (Copy and combine a list).

In [ ]:
a = [1,2]
b = [2,3]
a*2

In [ ]:
a = [1,2]
b = [2,3]
b*4

### Checking if the list containing a given value with `in`.

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
print('chicken with basils' in data)

In [ ]:
print('sweet potato' in data)

In [ ]:
print('sweet potato' not in data)

In [ ]:
print('sweet potato' in data[4])

In [ ]:
data.count('sweet potato')

In [ ]:
data.count(450.50)

In [ ]:
data.index(450.50)

index(x) Searches the tuple for a specified value and returns the position of where it was found

count(x) Returns the number of elements with the specified value

### Others
clear() Removes all the elements from the list

copy()  Returns a copy of the list

reverse() Reverses the order of the list

In [ ]:
data2 = data.copy()
data.reverse()
print(data2)
print(data)

In [ ]:
data2.pop(2)
print(data2)
data2.clear()
print(data2)

**Q:** What is the result of running the program below?

In [ ]:
mylist = []
mylist.append(5)
mylist.insert(1,10)
mylist.insert(0,3)
mylist = mylist*2
mylist = mylist + [2,4]
mylist.remove(10)
del mylist[0]
mylist.sort()
print(mylist)

## List creation using `for`

Ex. Imagine we want to create a list that stores the integers from 1 to 100

* Method 1: We can write a long squence of 1,2,3,...,100 within `[]`.
* Method 2: We can use `for` and list appending together to achieve this task, which is more concise.

In [ ]:
# Method 2.1
num = [] # First create an empty list.
for i in range(1,101): # Iterate the integers from 1 to 100.
  num.append(i) # For each round, append each integer using append().
print(num)

In [ ]:
# Method 2.2
num = [] # First create an empty list.
for i in range(1,101): # Iterate the integers from 1 to 100.
  num = num + [i] # # For each round, append each integer using +.
print(num)

Note that `+` is used for list concatenation for any two lists. So, we need to change `1` to `[1]`.

## List copy

### Shallow copy: Associate the variable on the left to the existing value that the variable on the right is pointing to.

In [ ]:
d = data
print(data)
print(d)
d[0] = 'Pork with basils'
print(data)
print(d)

Here shows how the shallow copy works:

<img src="https://github.com/ploy-np/python/blob/master/images/list/shallow.jpg?raw=1" width="700"/>

### Deep copy: Create a new list with the same values.

In [ ]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [ ]:
# Method 1 combile with empty list
d1 = [] + data

In [ ]:
# Method 2 for loop copy
d2 = []
for item in data:
  d2.append(item)

In [ ]:
# Method 3 copy by slicing
d3 = data[:]

In [ ]:
# Method 4 list function
d4 = list(data)

In [ ]:
print(d1)
print(d2)
print(d3)
print(d4)

In [ ]:
d1[0] = 'Pork with basils'
print(data)
print(d1)

## List comprehension
To generate a new list by applying an expression to each item in an existing iterable (such as a list, tuple, or range) and optionally applying a filter condition.

```python
new_list = [expression for item in iterable if condition]
```
We can create a list using `for` in a single line using list comprehension.

Ex. Create a list that stores the integers from 1 to 10.

In [ ]:
x = []
for i in range(10):
  x.append(i+1)
print(x)

In [ ]:
# With list comprehension, we can shorten the code into one single line
x = [i+1 for i in range(10)]
print(x)

Ex. Create a list that stores the odd integers from 1 to 10.

In [ ]:
y = []
for i in range(10):
  if i%2 != 0:
    y.append(i)
print(y)

In [ ]:
# With list comprehension, we can shorten the code into one single line
y = [i for i in range(10) if i%2 != 0]
print(y)

**Ex4:** Create a new list `info_int` that contains only integers of the given list `info` using list comprehension.

In [ ]:
info = [2,'a','True',-5,False,2.4,'4']
# Code here

## String as a list of characters

* We can access characters in a string in the same way we access members in a list.

In [3]:
txt = 'Python is a snake'

In [ ]:
len(txt)

In [ ]:
txt[0]

In [ ]:
txt[-1]

In [ ]:
txt[12:] #slicing

* We can check if a string contianing a substring using `in`

In [ ]:
print('is a ' in txt)

In [ ]:
print('is a ' not in txt)

In [4]:
print('isa' in txt)

False

* Unlike `list`, `string` is immutable, so we cannot reassign values to a string partially.

In [ ]:
txt[12] = 'p'

* What we can do is to assign a new string.

In [ ]:
txt = 'Python is a programming language'

* Examples of string operations

In [ ]:
txt.isalpha() # letters

In [ ]:
txt.isalnum() # letters and digits

In [ ]:
txt.isdigit()

In [ ]:
txt.islower()

In [ ]:
txt.isupper()

In [ ]:
txt.lower()

In [ ]:
txt.upper()

In [ ]:
txt.split()

**Ex5:** Write a function to count the number of uppercases in a given string (`mystring`) using list croprehension.

In [2]:
def cup(st):
    x = 0
    for i in st:
        if i.isupper():
            x += 1
    return x

print(cup("TEEEest"))

4

# Programming exercises

1. Accept two integer lists as input and check if they are circularly identical. Print ”yes” if they are, print ”no” if they are not.

In [13]:
def ciden(l1, l2):
    if len(l1) != len(l2):
        return "no"
    l1.extend(l1)
    for i in range(len(l1)):
        if l2 == l1[i:i+len(l2)]:
            return "yes"
    return "no"


print(ciden([1, 2, 3, 4, 5], [3, 4, 5, 1, 2]))

no

2. A robot moves in a plane starting from the origin (0,0). The robot can move toward UP (U), DOWN (D), LEFT (L) and RIGHT(R)withagiveninpute.g.U5D3L3R2. The number after the direction are steps. Compute the distance from the current position of a robot after a sequence of moves.

In [10]:
def mp(st):
    x = 0
    y = 0
    for i in range(0, len(st), 2):
        if st[i] == "U":
            y += int(st[i+1])
        elif st[i] == "D":
            y -= int(st[i+1])
        elif st[i] == "R":
            x += int(st[i+1])
        elif st[i] == "L":
            x -= int(st[i+1])
    return(f"({x},{y})")
print(mp(input()))

U5D3L3R2
(-1,2)

# 3. Write a program that computes the net amount of a balance based on a transaction log from console input. The transaction log is contained in one line in the format of [W|D number ]* e.g. D 300 D 300 W 200 D 300. W means withdrawal and D means deposit. The output for the above example input would be 700.

In [ ]:
def cb(tl):
    tr = tl.split()
    b = 0
    for i in range(0, len(tr), 2):
        tt = tr[i]
        a = int(tr[i + 1])
        if tt == 'D':
            b += a
        elif tt == 'W':
            b -= a
    return b

print("Net Balance:", cb(input("Enter the transaction log (e.g., D 300 D 300 W 200 D 300): ")))

4. Write a program that check the validity of a given password. A password is valid if it contains at least 1 occurence of the character c and exactly 1 occurrence of the character 1. For example, a password ABcd0123bca$ is valid, while a password c11 is invalid.

In [13]:
def cv(st):
    n1 = 0
    nc = 0
    for i in st:
        if i == '1':
            n1 += 1
        if i == 'c':
            nc += 1
        if n1 > 1:
            return False
    if n1 < 1 or nc < 1:
        return False
    return True
print(cv(input("Enter password: ")))

Enter password: c11
False

5. Accept top left corner coordinate (x,y), width and height of two rectangles e.g. [5,5,10,10] and [0,0,12,15]. Then print “yes” if they intersect otherwise print ”no”

In [10]:
# Copied from ChatGPT
# ------------------------------------------------------------------------------------------------------------------------

def isch(rct1, rct2):
    x1, y1, w1, h1 = rct1
    x2, y2, w2, h2 = rct2

    right1, bottom1 = x1 + w1, y1 + h1
    right2, bottom2 = x2 + w2, y2 + h2

    if x1 > right2 or x2 > right1 or y1 > bottom2 or y2 > bottom1:
        return "no"
    else:
        return "yes"

rct1 = [5, 5, 10, 10]
rct2 = [0, 0, 12, 15]

result = isch(rct1, rct2)
print(result)

yes